##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.properties
.sistemaExe.exe4j